In [ ]:
KNN
-distance based algorithm
-value of k=5 xa bhane to 5 min distance vako data lagxa, number of neighbors
-Top 5 minimun distance

# DataScaling
# Label Encoding

In [ ]:
#Label Encoding: scikit learn bara ni garna sakinxa
LabelEncoder le 0 1 ko form ma dinxa map gare jasari

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [4]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#species ma label encoding lagauna parxa kinaki sabai aru data numeric mai xa

In [5]:
#.fit_transform()
encoder = LabelEncoder() # object banako
df['Label'] = encoder.fit_transform(df.species)

In [6]:
df

     sepal_length  sepal_width  petal_length  petal_width    species  Label
0             5.1          3.5           1.4          0.2     setosa      0
1             4.9          3.0           1.4          0.2     setosa      0
2             4.7          3.2           1.3          0.2     setosa      0
3             4.6          3.1           1.5          0.2     setosa      0
4             5.0          3.6           1.4          0.2     setosa      0
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica      2
146           6.3          2.5           5.0          1.9  virginica      2
147           6.5          3.0           5.2          2.0  virginica      2
148           6.2          3.4           5.4          2.3  virginica      2
149           5.9          3.0           5.1          1.8  virginica      2

[150 rows x 6 columns]

In [7]:
encoder.classes_

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
df.Label.unique() # setosa lai 0 , versicolor lai 1 ra virginica lai 2 assign garyo

array([0, 1, 2])

In [ ]:
#same yehi kaam map use garera garim
#agdi y banauda species leko thim tara aile label line
#alphabetical order ma assign gardinxa yo label encoder function le map le testo gardaina
#order chaheko xa bhane map nai use garda thik hunxa tara order chaheko xaina bhane label encoder nai laune

# DataScaling

In [ ]:
Scaling: data ko range xutta xuttai xa bhane scaling garna parxa jastai data haru lai same range ma launu bhakeko datascalimg ho
high range ko data lai same range ma laune

In [ ]:
1. Minmax Scaling
xscaled = x-xmin/xmax-xmin   (0-1)range 

(0-5) 
     xnew_min +  (x-xmin)/(xmax-xmin) *(xnew_max-xnew_min)

In [ ]:
(x-xmin)/(xmax-xmin) -

In [ ]:
2. z-score Normalization
   xscaled = x - min/std

In [9]:
data = pd.read_csv('Diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.840052,120.897269,69.115735,20.509753,79.697009,31.998179,0.471590,33.269181,0.349805
std,3.370237,31.951886,19.345296,15.959020,115.203999,7.880557,0.331208,11.778737,0.477219
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,29.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.000000,36.600000,0.626000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# ana scaling garna parxa

In [15]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#Note
Scaling is done after train-test split

In [16]:
X = data[['Glucose','Age']]
y = data.Outcome

In [18]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y, test_size = 0.2, random_state = 9)

In [ ]:
#StandardScalar

In [25]:
scaler = StandardScaler()
data['BloodPressure'] = scaler.fit_transform(data[['BloodPressure']])

In [26]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.149191,35,0,33.6,0.627,50,1
1,1,85,-0.161164,29,0,26.6,0.351,31,0
2,8,183,-0.264615,0,0,23.3,0.672,32,1
3,1,89,-0.161164,23,94,28.1,0.167,21,0
4,0,137,-1.506035,35,168,43.1,2.288,33,1

In [27]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,7.690000e+02,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.840052,120.897269,-1.755567e-16,20.509753,79.697009,31.998179,0.471590,33.269181,0.349805
std,3.370237,31.951886,1.000651e+00,15.959020,115.203999,7.880557,0.331208,11.778737,0.477219
min,0.000000,0.000000,-3.575066e+00,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,-3.680670e-01,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,1.491909e-01,23.000000,29.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,5.629973e-01,32.000000,127.000000,36.600000,0.626000,41.000000,1.000000
max,17.000000,199.000000,2.735481e+00,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [29]:
df = pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#aba minmax scaling lagaune yesle 0 ra 1 range ma dinxa

In [31]:
minmax = MinMaxScaler()
df['BloodPressure']= minmax.fit_transform(df[['BloodPressure']])

In [32]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.590164,35,0,33.6,0.627,50,1
1,1,85,0.540984,29,0,26.6,0.351,31,0
2,8,183,0.524590,0,0,23.3,0.672,32,1
3,1,89,0.540984,23,94,28.1,0.167,21,0
4,0,137,0.327869,35,168,43.1,2.288,33,1

In [34]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.840052,120.897269,0.566522,20.509753,79.697009,31.998179,0.471590,33.269181,0.349805
std,3.370237,31.951886,0.158568,15.959020,115.203999,7.880557,0.331208,11.778737,0.477219
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,0.508197,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,0.590164,23.000000,29.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,0.655738,32.000000,127.000000,36.600000,0.626000,41.000000,1.000000
max,17.000000,199.000000,1.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [35]:
df = pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [37]:
minmax = MinMaxScaler(feature_range=(2,5)) # 2 dekhi 5 samma ko range deko manually
df['BloodPressure']=minmax.fit_transform(df[['BloodPressure']])

In [38]:
df.describe() # ie min ma 2 ra max ma 5 samma ko xa blood pressure ma

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.840052,120.897269,3.699567,20.509753,79.697009,31.998179,0.471590,33.269181,0.349805
std,3.370237,31.951886,0.475704,15.959020,115.203999,7.880557,0.331208,11.778737,0.477219
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,3.524590,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,3.770492,23.000000,29.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,3.967213,32.000000,127.000000,36.600000,0.626000,41.000000,1.000000
max,17.000000,199.000000,5.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [36]:
help(MinMaxScaler)

Help on class MinMaxScaler in module sklearn.preprocessing._data:

class MinMaxScaler(sklearn.base.OneToOneFeatureMixin, sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  MinMaxScaler(feature_range=(0, 1), *, copy=True, clip=False)
 |
 |  Transform features by scaling each feature to a given range.
 |
 |  This estimator scales and translates each feature individually such
 |  that it is in the given range on the training set, e.g. between
 |  zero and one.
 |
 |  The transformation is given by::
 |
 |      X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
 |      X_scaled = X_std * (max - min) + min
 |
 |  where min, max = feature_range.
 |
 |  This transformation is often used as an alternative to zero mean,
 |  unit variance scaling.
 |
 |  `MinMaxScaler` doesn't reduce the effect of outliers, but it linearly
 |  scales them down into a fixed range, where the largest occurring data point
 |  corresponds to the maximum value and the smallest one corresponds to the
 |  minimum value. For an example visualization, refer to :ref:`Compare
 |  MinMaxScaler with other scalers <plot_all_scaling_minmax_scaler_section>`.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  feature_range : tuple (min, max), default=(0, 1)
 |      Desired range of transformed data.
 |
 |  copy : bool, default=True
 |      Set to False to perform inplace row normalization and avoid a
 |      copy (if the input is already a numpy array).
 |
 |  clip : bool, default=False
 |      Set to True to clip transformed values of held-out data to
 |      provided `feature range`.
 |
 |      .. versionadded:: 0.24
 |
 |  Attributes
 |  ----------
 |  min_ : ndarray of shape (n_features,)
 |      Per feature adjustment for minimum. Equivalent to
 |      ``min - X.min(axis=0) * self.scale_``
 |
 |  scale_ : ndarray of shape (n_features,)
 |      Per feature relative scaling of the data. Equivalent to
 |      ``(max - min) / (X.max(axis=0) - X.min(axis=0))``
 |
 |      .. versionadded:: 0.17
 |         *scale_* attribute.
 |
 |  data_min_ : ndarray of shape (n_features,)
 |      Per feature minimum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_min_*
 |
 |  data_max_ : ndarray of shape (n_features,)
 |      Per feature maximum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_max_*
 |
 |  data_range_ : ndarray of shape (n_features,)
 |      Per feature range ``(data_max_ - data_min_)`` seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_range_*
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  n_samples_seen_ : int
 |      The number of samples processed by the estimator.
 |      It will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  minmax_scale : Equivalent function without the estimator API.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import MinMaxScaler
 |  >>> data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
 |  >>> scaler = MinMaxScaler()
 |  >>> print(scaler.fit(data))
 |  MinMaxScaler()
 |  >>> print(scaler.data_max_)
 |  [ 1. 18.]
 |  >>> print(scaler.transform(data))
 |  [[0.   0.  ]
 |   [0.25 0.25]
 |   [0.5  0.5 ]
 |   [1.   1.  ]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[1.5 0. ]]
 |
 |  Method resolution order:
 |      MinMaxScaler
 |      sklearn.base.OneToOneFeatureMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, feature_range=(0, 1), *, copy=True, clip=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __sklearn_tags__(self)
 |
 |  fit(self, X, y=None)
 |      Compute the minimum and maximum to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the per-feature minimum and maximum
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X)
 |      Undo the scaling of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed. It cannot be sparse.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  partial_fit(self, X, y=None)
 |      Online computation of min and max on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X)
 |      Scale features of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Same as input features.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas", "polars"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs)
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~sklearn.utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

In [43]:
data = pd.read_csv('Diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [44]:
X = data[['Glucose', 'Age']]
y = data.Outcome

In [47]:
X # duitai korange farak xa so range same banauna paryo

     Glucose  Age
0        148   50
1         85   31
2        183   32
3         89   21
4        137   33
..       ...  ...
764      122   27
765      121   30
766      126   47
767       93   23
768      123   55

[769 rows x 2 columns]

In [48]:
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.2, random_state = 9)

In [49]:
xtest

     Glucose  Age
456      135   62
260      191   34
651      117   27
143      108   42
666      145   70
..       ...  ...
583      100   42
586      143   41
478      126   39
655      155   25
32        88   22

[154 rows x 2 columns]

In [ ]:
#mean ra sd traiing ko data bata nai nikalne test data chai pure nai huna parxa
training data kai mean ra sd use garera testing ma transform matra garxam
#scaling jaile xtrain ra xtest lai garne ho y lai garidaina
testing ko kunai data training ma jana vayena scaling garda jaile pani

In [ ]:
Glucose : standardScaler: x-mean/std
age: StandardScaler: x-mean/std

In [51]:
xtrain_s = scaler.fit_transform(xtrain)
xtest_s = scaler.transform(xtest)

In [ ]:
scaler = StandardScaler()
xnew = scaler.fit_transform(x)

In [ ]:
#fit ma duita operation xa
.fit(): standard scaling lai chahine mean ra std calculate garera rakhxa   mean, sd
.transform(): typ ako mean ra std lagayera scaling garxa  x-mean/std

In [52]:
xtrain_s # glucose ra age duitai scaling vako xa

array([[-0.51263614, -0.3691081 ],
       [-0.5444015 , -0.95416347],
       [-1.43383166,  0.63384396],
       ...,
       [-0.76675904, -0.11837009],
       [-0.70322832, -0.61984612],
       [-0.38557469, -1.03774281]], shape=(615, 2))

In [53]:
xtest_s
 # test data ko pani scaling cvako xa jasma training kai mean ra std bata scaking gareko afno testing ko data use gardaina

array([[ 0.44032474,  2.38901006],
       [ 2.21918506,  0.04878859],
       [-0.13145179, -0.53626678],
       [-0.41734005,  0.7174233 ],
       [ 0.75797837,  3.05764477],
       [-0.67146295,  0.7174233 ],
       [-0.2902786 , -0.78700479],
       [-0.83028977, -0.53626678],
       [ 0.53562083, -1.03774281],
       [-1.30677021, -0.95416347],
       [-1.46559702, -0.03479075],
       [-0.22674787, -0.78700479],
       [-0.76675904, -0.28552876],
       [ 0.31326329, -0.95416347],
       [-0.67146295, -0.45268744],
       [-0.83028977,  0.21594727],
       [-0.32204396,  1.88753403],
       [ 1.74270462,  1.55321668],
       [-0.98911658, -0.70342546],
       [-1.30677021, -1.03774281],
       [-0.13145179,  0.55026462],
       [-0.38557469,  2.22185139],
       [-0.98911658, -0.78700479],
       [-0.70322832, -0.11837009],
       [-0.60793223,  0.21594727],
       [-0.7985244 , -0.53626678],
       [ 1.26622418,  1.13531999],
       [ 1.93329679, -0.3691081 ],
       [-1.21147412, -0.53626678],
       [-0.22674787, -0.70342546],
       [-1.24323948, -0.70342546],
       [ 0.24973257,  0.63384396],
       [-0.41734005, -0.78700479],
       [-1.59265847, -1.03774281],
       [-0.19498251,  1.05174065],
       [-1.78325065,  0.7174233 ],
       [ 2.15565433,  0.2995266 ],
       [-0.00439033, -0.87058413],
       [-0.32204396, -0.87058413],
       [ 1.17092809,  0.13236793],
       [ 0.24973257,  0.38310594],
       [ 0.63091692,  0.55026462],
       [ 1.17092809, -0.3691081 ],
       [-1.17970876, -0.70342546],
       [-2.03737355,  2.80690675],
       [ 0.02737503, -0.03479075],
       [-0.7985244 ,  0.55026462],
       [-0.89382049, -0.95416347],
       [-1.59265847, -0.95416347],
       [-1.59265847, -0.95416347],
       [-0.83028977, -0.95416347],
       [-0.51263614, -0.70342546],
       [ 0.8215091 , -0.78700479],
       [ 0.8215091 ,  2.63974808],
       [-0.13145179, -0.28552876],
       [ 1.17092809,  0.88458197],
       [-0.89382049,  0.13236793],
       [ 1.86976607, -0.61984612],
       [ 2.40977724, -0.20194943],
       [-0.60793223,  1.05174065],
       [ 1.3297549 ,  1.13531999],
       [-0.2902786 , -0.70342546],
       [ 0.18620184, -0.45268744],
       [-1.24323948, -0.87058413],
       [ 0.5673862 , -0.70342546],
       [-0.70322832, -0.78700479],
       [-1.02088194, -1.03774281],
       [-3.84799923,  0.2995266 ],
       [ 1.61564317, -0.45268744],
       [ 0.94857055,  0.21594727],
       [-0.13145179,  0.7174233 ],
       [ 0.91680519,  0.7174233 ],
       [-0.67146295, -0.61984612],
       [ 0.09090575,  0.38310594],
       [-0.48087078, -0.61984612],
       [-1.17970876, -1.03774281],
       [ 0.59915156, -0.78700479],
       [ 1.29798954, -0.61984612],
       [ 1.075632  ,  1.46963734],
       [ 1.45681635,  0.80100263],
       [ 0.78974373, -0.45268744],
       [-0.32204396, -0.28552876],
       [ 2.31448115,  2.80690675],
       [-1.05264731, -0.3691081 ],
       [ 0.02737503, -0.53626678],
       [-0.25851324, -0.95416347],
       [-0.60793223, -1.03774281],
       [ 2.09212361,  0.04878859],
       [ 0.09090575, -1.03774281],
       [-1.08441267, -0.78700479],
       [-2.45032327,  0.21594727],
       [-0.73499368, -0.95416347],
       [ 1.20269345,  0.21594727],
       [ 0.2179672 , -0.70342546],
       [-0.44910541, -0.78700479],
       [-0.06792106, -0.87058413],
       [-1.14794339,  0.7174233 ],
       [ 0.15443648, -1.03774281],
       [ 1.36152026,  0.96816131],
       [ 0.24973257,  0.46668528],
       [ 0.2179672 ,  0.96816131],
       [-0.92558586, -0.95416347],
       [-0.76675904, -0.95416347],
       [ 2.34624651,  1.80395469],
       [ 1.10739736,  0.7174233 ],
       [ 0.59915156,  0.96816131],
       [ 0.05914039,  0.04878859],
       [-0.35380933, -0.28552876],
       [ 0.69444765,  1.13531999],
       [ 1.86976607, -0.70342546],
       [ 0.85327446,  1.46963734],
       [ 0.18620184, -0.95416347],
       [-0.41734005, -0.03479075],
       [-1.14794339,  0.7174233 ],
       [ 1.04386664,  0.96816131],
       [ 1.64740853, -0.03479075],
       [ 1.55211244, -0.28552876],
       [ 1.20269345,  0.55026462],
       [-0.67146295, -0.45268744],
       [-0.48087078, -0.95416347],
       [-0.7985244 , -0.61984612],
       [-0.51263614,  0.2995266 ],
       [-0.83028977, -0.70342546],
       [ 0.37679402,  0.2995266 ],
       [-1.52912775, -1.03774281],
       [ 0.02737503, -0.20194943],
       [ 1.04386664,  0.2995266 ],
       [-0.09968642, -0.20194943],
       [-0.98911658, -0.20194943],
       [-0.0361557 , -0.61984612],
       [ 0.34502866, -0.87058413],
       [ 0.02737503, -0.3691081 ],
       [-1.49736239,  0.46668528],
       [-0.2902786 , -0.78700479],
       [-0.25851324, -1.03774281],
       [ 1.96506216,  0.96816131],
       [ 2.12388897, -0.95416347],
       [-1.37030093, -0.61984612],
       [-0.83028977, -0.45268744],
       [-0.70322832, -0.28552876],
       [ 0.09090575,  0.21594727],
       [ 0.34502866, -1.03774281],
       [-0.09968642, -0.61984612],
       [-0.25851324, -0.87058413],
       [-1.59265847, -0.61984612],
       [ 0.02737503, -0.03479075],
       [ 0.12267112,  1.72037536],
       [-0.32204396, -0.95416347],
       [-0.06792106, -0.78700479],
       [-0.67146295,  0.7174233 ],
       [ 0.69444765,  0.63384396],
       [ 0.15443648,  0.46668528],
       [ 1.075632  , -0.70342546],
       [-1.05264731, -0.95416347]])

In [ ]:
y lai scaling chahidaina